
<table class="center">
  <tr>
    <th><button type="button" onclick="alert('Hi')">Click Me!</button></th>
    <th><button type="button" onclick="alert('Hi')">Click Me!</button></th> 
    <td><button type="button" onclick="alert('Hi')">Click Me!</button></td> 

  </tr>
  <tr>
    <td><button type="button" onclick="alert('Hi')">Click Me!</button></td>
    <td><button type="button" onclick="alert('Hi')">Click Me!</button></td> 
    <td><button type="button" onclick="alert('Hi')">Click Me!</button></td> 
    
  </tr>
  

</table>